.ex {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}
.ex .sub {
  color: #e0e0e0;
}
.experiência-txt {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 40ch;
  color: #525252;
}
.experiência-txt strong {
  color: black;
}
.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  position: relative;
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  border: #f5f5f5 1px solid;
}
.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #c7dd0a);
  position: absolute;
  left: -4px;
  top: 20px;
}
.empresa-ano {
  text-align: right;
  width: 80px;
  position: absolute;
  left: -100px;
  top: 22px;
  color: #525252;
  font-size: 0.875rem;
}
.empresa-tlt {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}
.empresa-txt {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}
.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}
.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  background: #fff;
  border-radius: 4px;
  border: #fff 1px solid;
  padding: 5px 10px;
}
@media (max-width: 800px) {
  .ex {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .ex .sub {
    color: #141414;
  }
  .experiência-txt {
    font-size: 1.25rem;
  }
  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}
@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
