.formacao {
  background: #141414;
  color: #fff;
}
.formacao .sub {
  color: #000;
  max-width: 5ch;
}
.formacao-txt {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 40ch;
  color: #a3a3a3;
}
.formacao-txt strong {
  color: #fff;
}
.formacao-container {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
}
.faculist {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}
.facul {
  background: #000;
  border-radius: 4px;
  border: #000 1px solid;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.facultype {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px;
}
.faculcourse {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  flex: 1;
}
.facul::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #c7dd0a);
  position: absolute;
  left: -5px;
  top: 18px;
}
.faculinstituicao {
  font-size: 1.125rem;
  line-height: 1.4;
  color: #a3a3a3;
}
.cursos {
  margin-bottom: 60px;
}
.formacao-extra h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}
.formacao-extra h3::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(../img/cursos.svg) no-repeat center center;
  position: absolute;
  left: -36px;
  top: -4px;
}
.cursos h3::before {
  background: url(../img/cursos.svg) no-repeat center center;
}
.idiomas h3::before {
  background: url(../img/idiomas.svg) no-repeat center center;
}
.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
}
.formacao-extra span {
  color: #8f8f8f;
}
.cursos li {
  display: flex;
  justify-content: space-between;
}
/* .idiomas li {
  display: flex;
  justify-content: space-between;
} */

@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }
  .formacao .sub {
    color: #fff;
  }
  .formacao-txt {
    font-size: 1.25rem;
  }
  .formacao-extra h3::before {
    position: initial;
    margin-bottom: 10px;
  }
}
.formacao-container::after {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  position: absolute;
  background: url("../img/detalhe.svg") no-repeat center;
  bottom: -50px;
  left: 20px;
}
